* {
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6abea7;
}

#calculator {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 600px;
  gap: 12px;
  background-color: #5e6973;
  border: 1px solid black;
}

#result-container {
  display: flex;
  justify-content: end;
  border: 1px solid black;
}

#functions-container {
  display: flex;
  gap: 18px;
  margin-left: 30px;
  justify-content: center;
  border: 1px solid black;
}

#main-calc {
  display: flex;
  border: 1px solid black;
}

#digits-container {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  gap: 12px;
  justify-content: center;
  margin-left: 76px;
  border: 1px solid black;
}

#operands-container {
  display: flex;
  flex-direction: column;
  width: 70px;
  border: 1px solid black;
}

.result {
  align-self: flex-end;
}

button {
  padding: 5px 20px;
}
