* {
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;
  background-color: #201b37;
  color: white;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
}

#calc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

#calculator {
  display: flex;
  flex-direction: column;
  width: 332px;
  height: 542px;
  background-color: #302852;
  border-radius: 8px;
}

#top-calc {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 2px solid black;
  border-radius: 8px;
  gap: 12px;
  height: 72px;
  width: 252px;
  padding: 18px;
  margin: 12px 12px 12px 20px;
}

#result-container,
#operation-preview {
  display: flex;
  justify-content: end;
}

#functions-container {
  display: flex;
  justify-content: center;
}

#main-calc {
  margin: 2px 0px;
  display: flex;
  height: 350px;
}

#digits-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2px 0px 2px 2px;
  width: 286px;
  gap: 4px;
  justify-content: center;
}

#operands-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 2px 4px 2px 2px;
}

button {
  width: 78px;
  height: 70px;
  background-color: #40366d;
  border-radius: 6px;
  border: none;
  color: white;
}
